body {
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  background-color: #0c0c0c;
  color: #f2f2f2;
}

a {
  text-decoration: none;
  color: #f2f2f2;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #111; /* important : pour qu'on voie le header au-dessus du contenu */
  z-index: 1000; /* pour qu'il reste au-dessus des autres éléments */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  border-bottom: 1px solid #222;
}

nav a {
  margin-left: 2rem;
  font-size: 0.9rem;
  text-transform: uppercase;
  margin-right: 3rem;
}

.nav-link:hover {
  color: #FB0425;
}

.hero-container {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 2rem;
  background: #0f0f0f;
}

#hero-text h1 {
  font-size: 4rem;
  margin-bottom: -2rem;
}

#hero-text h3 {
  margin-bottom: 1rem;
  font-size: 2rem;
}

#hero-text p {
  margin-bottom: 3rem;
  font-size: 1rem;
}
.btn {
  background: #f2f2f2;
  color: #0c0c0c;
  padding: 0.8rem 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  transition: background 0.3s;
}

.btn:hover {
  background: #FB0425;
  color: white;
}

.about {
  padding: 4rem 2rem;
  background: #111;
  text-align: center;
}

.about h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
h2 {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  text-align: center;
}
.cta {
  background: #1a1a1a;
  padding: 3rem 2rem;
  text-align: center;
}

.cta h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.cta p {
  margin-bottom: 2rem;
}

footer {
  background: #000;
  text-align: center;
  padding: 2rem;
  font-size: 0.9rem;
}

.socials a {
  margin: 0 1rem;
  font-size: 0.9rem;
  color: #888;
}

.socials a:hover {
  color: #FB0425;
}

.logo svg {
  display: block;
  height: 80px;
  fill: white;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  gap: 40px;
}

/* Garde ton ID existant */
#hero-text {
  flex: 1;
  color: white;
}

/* Partie 3D à droite */
.hero-3d {
  flex-shrink: 0;
}

/* Responsive mobile */
@media (max-width: 768px) {
  .hero-container {
    flex-direction: column;
    align-items: center;
  }

  .hero-3d {
    margin-top: 20px;
  }
}

model-viewer {
  --auto-rotate-speed: 15rad; 
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: center;
}

#gallery blockquote {
  flex: 1 1 300px; /* largeur min 300px, s’adapte */
  max-width: 200px;
}

html {
  scroll-padding-top: 80px; /* ajuste selon la hauteur de ton header */
}
